<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>单人桌</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>单人吧台</string>
				<key>image_default</key>
				<string>table_def_1_1</string>
				<key>image_done</key>
				<string>table_done_1_1</string>
				<key>image_wrong</key>
				<string>table_wrong_1_1</string>
				<key>rows</key>
				<integer>1</integer>
				<key>cols</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>双人桌</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>双人桌</string>
				<key>image_default</key>
				<string>table_def_2_1</string>
				<key>image_done</key>
				<string>table_done_2_1</string>
				<key>image_wrong</key>
				<string>table_wrong_2_1</string>
				<key>rows</key>
				<integer>1</integer>
				<key>cols</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>双人圆桌</string>
				<key>image_default</key>
				<string>table_def_2_2</string>
				<key>image_done</key>
				<string>table_done_2_2</string>
				<key>image_wrong</key>
				<string>table_wrong_2_2</string>
				<key>rows</key>
				<integer>1</integer>
				<key>cols</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>四人桌</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>四人桌</string>
				<key>image_default</key>
				<string>table_def_4_1</string>
				<key>image_done</key>
				<string>table_done_4_1</string>
				<key>image_wrong</key>
				<string>table_wrong_4_1</string>
				<key>rows</key>
				<integer>2</integer>
				<key>cols</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>四人方桌</string>
				<key>image_default</key>
				<string>table_def_4_2</string>
				<key>image_done</key>
				<string>table_done_4_2</string>
				<key>image_wrong</key>
				<string>table_wrong_4_2</string>
				<key>rows</key>
				<integer>2</integer>
				<key>cols</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>四人圆桌</string>
				<key>image_default</key>
				<string>table_def_4_3</string>
				<key>image_done</key>
				<string>table_done_4_3</string>
				<key>image_wrong</key>
				<string>table_wrong_4_3</string>
				<key>rows</key>
				<integer>2</integer>
				<key>cols</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>六人桌</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>六人桌</string>
				<key>image_default</key>
				<string>table_def_6_1</string>
				<key>image_done</key>
				<string>table_done_6_1</string>
				<key>image_wrong</key>
				<string>table_wrong_6_1</string>
				<key>rows</key>
				<integer>3</integer>
				<key>cols</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>八人桌</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>八人长桌</string>
				<key>image_default</key>
				<string>table_def_8_1</string>
				<key>image_done</key>
				<string>table_done_8_1</string>
				<key>image_wrong</key>
				<string>table_wrong_8_1</string>
				<key>rows</key>
				<integer>4</integer>
				<key>cols</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>八人方桌</string>
				<key>image_default</key>
				<string>table_def_8_2</string>
				<key>image_done</key>
				<string>table_done_8_2</string>
				<key>image_wrong</key>
				<string>table_wrong_8_2</string>
				<key>rows</key>
				<integer>3</integer>
				<key>cols</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>十人桌</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>十人桌</string>
				<key>image_default</key>
				<string>table_def_10_1</string>
				<key>image_done</key>
				<string>table_done_10_1</string>
				<key>image_wrong</key>
				<string>table_wrong_10_1</string>
				<key>rows</key>
				<integer>3</integer>
				<key>cols</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>十二人桌</string>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>十二人桌</string>
				<key>image_default</key>
				<string>table_def_12_1</string>
				<key>image_done</key>
				<string>table_done_12_1</string>
				<key>image_wrong</key>
				<string>table_wrong_12_1</string>
				<key>rows</key>
				<integer>3</integer>
				<key>cols</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
